.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;
}

.toggle-switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch-input:checked + .toggle-switch-slider {
  background-color: #003DA5;
}

.toggle-switch-input:focus + .toggle-switch-slider {
  box-shadow: 0 0 1px #003DA5;
}

.toggle-switch-input:checked + .toggle-switch-slider:before {
  transform: translateX(26px);
}

.toggle-switch-input:disabled + .toggle-switch-slider {
  opacity: 0.5;
  cursor: not-allowed;
}

.toggle-switch:has(input:disabled) {
  cursor: not-allowed;
}
